/*
    GENERAL
*/

:root {
    --header-height: 60px;
    --aside-width: 150px;
}

/*
    HEADER
*/

#main-header {
    height: var(--header-height);
}

/*
    MAIN
*/

main {
    height: calc(100vh - var(--header-height));
}

main > aside {
    width: var(--aside-width);
}

main > aside {
    width: calc(100% - var(--aside-width));
}