/*
    GENERAL
*/

img {
    max-width: 100%;
}

:root {
    --header-height: 60px;
    --aside-width: 150px;
}

/*
    HEADER
*/

#main-header {
    height: var(--header-height);
}

/*
    MAIN
*/

main {
    height: calc(100vh - var(--header-height));
}

main > aside {
    width: var(--aside-width);
}

main > aside {
    width: calc(100% - var(--aside-width));
}

.my-hover-white:hover {
    background-color: rgb(175, 175, 175);
}

.bg-aside {
    background-image: url(../img/sidebar-bg.png);
}

.my-mobile-logo {
    width: 30px;
    scale: 1.5;
    object-fit: contain;
}

.my-plus {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.my-border-button {
    height: 20px;
    padding: 0 10px;
    background-color: #165BBA;
    border-radius: 50px;
    font-size: 1.1cap;
}

.my-th-img {
    width: 30px;
}

.my-td-img {
    font-size: small;
    width: 52px;
    height: 35px;
}

.my-border-td {
    border: 1px solid grey;
    border-radius: 5px;
}